@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 253, 248);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 65%;
    margin: auto;
}

.container h1, .container p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container p{
    font-size: 1.3em;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

form label{
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 500;
}

.text-box{
    border: 1px solid #5656ff;
    height: 40px;
    width: 30%;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 3px;
}

.comment-box{
    width: 95%;
    height: 120px;
}

.submit-button{
    border: none;
    width: 185px;
    height: 40px;
    color: #fff;
    background-color: #5656ff;
    border-radius: 7px;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 80%;
    cursor: pointer;
}

.text-box:focus{
    outline: none;
    border: spx solid #5656ff;
    box-shadow: 0 0 10px #a9a9ff;
}

.comments{
    margin-bottom: 5%;
}

.comment{
    display: flex;
}

.avatar{
    margin-right: 35px;
}

.avatar img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.author{
    margin-top: 20px;
}

.comment-source p{
    font-size: 0.9em;
    color: rgb(145, 145, 145);
}

.comment-content{
    font-size: 1.1em;
    font-weight: 400;
}